name: CI

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

# Permissions needed for the bot to comment on the PR
permissions:
    contents: read
    pull-requests: write

jobs:
    test:
        runs-on: ubuntu-latest

        # Run all steps inside the project folder
        defaults:
            run:
                working-directory: ./notify_pit

        steps:
            - uses: actions/checkout@v4

            - name: Build and Test
              run: make test

            - name: Post Coverage Comment
              # Only run on Pull Requests to avoid permission errors on Push
              if: success() && github.event_name == 'pull_request'
              uses: MishaKav/pytest-coverage-comment@main
              with:
                  pytest-xml-coverage-path: notify_pit/app/coverage.xml
                  title: "Coverage Report"
                  badge-title: "Coverage"
                  hide-comment: false
                  create-new-comment: false
                  report-only-changed-files: true
