name: CI

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

# Update permissions to allow commenting on Commits (contents: write) AND PRs
permissions:
    contents: write
    pull-requests: write

jobs:
    test:
        runs-on: ubuntu-latest

        defaults:
            run:
                working-directory: ./notify_pit

        steps:
            - uses: actions/checkout@v4

            - name: Build and Test
              run: make test

            - name: Post Coverage Comment
              # Removed the 'pull_request' restriction so this runs on Main too
              if: success()
              uses: MishaKav/pytest-coverage-comment@main
              with:
                  pytest-xml-coverage-path: notify_pit/app/coverage.xml
                  title: "Coverage Report"
                  badge-title: "Coverage"
                  hide-comment: false
                  create-new-comment: false
                  report-only-changed-files: true
