name: CI

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

# Update permissions to allow commenting on Commits (contents: write) AND PRs
permissions:
    contents: write
    pull-requests: write

jobs:
    test:
        runs-on: ubuntu-latest

        defaults:
            run:
                working-directory: ./notify_pit

        steps:
            - uses: actions/checkout@v4

            - name: Build and Test
              run: make test

            - name: Post Coverage Comment
              if: success()
              uses: MishaKav/pytest-coverage-comment@main
              with:
                  pytest-xml-coverage-path: notify_pit/app/coverage.xml
                  title: "Coverage Report"
                  badge-title: "Coverage"
                  hide-comment: false
                  create-new-comment: false
                  report-only-changed-files: true

            - name: "Update README"
              run: |
                  sed -i '/<!-- Pytest Coverage Comment:Begin -->/,/<!-- Pytest Coverage Comment:End -->/c\<!-- Pytest Coverage Comment:Begin -->\n${{ steps.coverage.outputs.coverageHtml }}\n<!-- Pytest Coverage Comment:End -->' ../README.rst

            - name: "Commit README changes"
              uses: stefanzweifel/git-auto-commit-action@v5
              with:
                  commit_message: "docs: update coverage badge"
                  file_pattern: README.rst
