name: CI

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

# Update permissions to allow commenting on Commits (contents: write) AND PRs
permissions:
    contents: write
    pull-requests: write

jobs:
    test:
        runs-on: ubuntu-latest

        defaults:
            run:
                working-directory: ./notify_pit

        steps:
            - uses: actions/checkout@v6

            - name: Install & Run Linter
              run: |
                  pip install ruff
                  ruff check .
                  ruff format --check .

            - name: Build and Test
              run: make test

            - name: Fix coverage permissions
              if: always()
              # The file is in 'tests' because of the volume map ./tests:/app/tests
              run: sudo chown -R $USER:$USER tests/

            - name: Post Coverage Comment
              id: coverage
              if: success()
              uses: MishaKav/pytest-coverage-comment@main
              with:
                  # Path relative to the repository root
                  pytest-xml-coverage-path: notify_pit/tests/coverage.xml
                  title: "Coverage Report"
                  badge-title: "Coverage"
                  hide-comment: false
                  create-new-comment: false
                  report-only-changed-files: false

            - name: "Update README"
              run: |
                  sed -i '/<!-- Pytest Coverage Comment:Begin -->/,/<!-- Pytest Coverage Comment:End -->/c\<!-- Pytest Coverage Comment:Begin -->\n${{ steps.coverage.outputs.coverageHtml }}\n<!-- Pytest Coverage Comment:End -->' ../README.md

            - name: "Commit README changes"
              uses: stefanzweifel/git-auto-commit-action@v5
              with:
                  commit_message: "docs: update coverage badge"
                  file_pattern: README.md
